<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

	<display-name>Blahgua REST Service</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/conf/applicationConfiguration.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- <servlet> -->
	<!-- <servlet-name>dwr</servlet-name> -->
	<!-- <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class> -->
	<!-- <init-param> -->
	<!-- <param-name>debug</param-name> -->
	<!-- <param-value>true</param-value> -->
	<!-- </init-param> -->
	<!-- <load-on-startup>2</load-on-startup> -->
	<!-- </servlet> -->

	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param> <!-- App class treats all classes in com.service.service as REST resources -->
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>main.java.com.eweware.service.App</param-value>
		</init-param>
		<init-param> <!-- JSON annotation support using Jackson libs -->
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<!-- <servlet> -->
	<!-- <servlet-name>Spring MVC Dispatcher Servlet</servlet-name> -->
	<!-- <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> -->
	<!-- <init-param> -->
	<!-- <param-name>contextConfigLocation</param-name> -->
	<!-- <param-value>/WEB-INF/applicationConfiguration.xml</param-value> -->
	<!-- </init-param> -->
	<!-- <load-on-startup>2</load-on-startup> -->
	<!-- </servlet> -->

<!-- 	<servlet> -->
<!-- 		<servlet-name>Zoie Store Startup</servlet-name> -->
<!-- 		<servlet-class>com.service.service.store.zoie.Startup</servlet-class> -->
<!-- 		<init-param> -->
<!-- 		<param-name>blag.rumor.index.dir</param-name> -->
<!-- 		<param-value>../blag-index</param-value> -->
<!-- 		</init-param> -->
<!-- 		<init-param> -->
<!-- 		<param-name>blag.rumor.index.event._count.before.flush</param-name> -->
<!-- 		<param-value>1000</param-value> -->
<!-- 		</init-param> -->
<!-- 		<init-param> -->
<!-- 		<param-name>blag.rumor.index.time.in.ms.before.flush</param-name> -->
<!-- 		<param-value>300000</param-value> -->
<!-- 		</init-param> -->
<!-- 		<load-on-startup>4</load-on-startup> -->
<!-- 	</servlet> -->

	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/v2/*</url-pattern>
	</servlet-mapping>
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>dwr</servlet-name> -->
	<!-- <url-pattern>/dwr/*</url-pattern> -->
	<!-- </servlet-mapping> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>Spring MVC Dispatcher Servlet</servlet-name> -->
	<!-- <url-pattern>/app/*</url-pattern> -->
	<!-- </servlet-mapping> -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<!-- <welcome-file>index.jsp</welcome-file> -->
	</welcome-file-list>
</web-app>
