<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

	<display-name>Blahgua REST Service</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/conf/applicationConfiguration.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
    <listener>
        <listener-class>main.java.com.eweware.service.rest.session.BlahguaSessionListener</listener-class>
    </listener>

	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param> <!-- App class treats all classes in com.service.service as REST resources -->
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>main.java.com.eweware.service.App</param-value>
		</init-param>
		<init-param> <!-- JSON annotation support using Jackson libs -->
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>

    <servlet>
        <servlet-name>User Account Recovery Servlet</servlet-name>
        <servlet-class>main.java.com.eweware.service.servlet.UserSessionRecoveryServlet</servlet-class>
    </servlet>

	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/v2/*</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>User Account Recovery Servlet</servlet-name>
        <url-pattern>/recover</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <name>BSID</name>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>

	<welcome-file-list>
        <!-- The blahgua site's starting page; most pages and resources are in S3 -->
		<welcome-file>blahgua/default.html</welcome-file>
	</welcome-file-list>
</web-app>
